{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "BlobStorage": {
    "AccountName": "nwrks",
    "ContainerName": "static",
    "AccountKey": "",
    "CdnBaseUrl": "https://nwrks-cdn-ebfnb4hdfdc3bag9.z02.azurefd.net"
  },
  "GitHub": {
    "ClientId": "",
    "ClientSecret": "",
    "RepoOwner": "powerm1nt",
    "RepoName": "About-me"
  },
  "AssetProxyBase": "https://blog-api-cpbkeye3dzfhbqev.canadacentral-01.azurewebsites.net",
  "Cors": {
    "AllowedOrigins": [
      "https://localhost:7217",
      "http://localhost:5279",
      "https://blog.nuka.works"
    ]
  }
}
