@use "/src/Common/main" as *;

code.hljs {
  padding: 20px;
  border-radius: 0;
  font-size: 0.8em;
  font-family: "Fira Mono", monospace;
  display: inline-block;
  background-color: $code-bg;
  max-width: 650px;
  overflow-x: auto;

  @media screen and (max-width: 800px) {
    width: clamp(55%, 1200px, calc(100% - 30px));
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;

    &-track {
      background: $bg-main;
      border-radius: 0;
    }

    &-thumb {
      background: $bg-content;
      border-radius: 0;
    }
  }
}

.hljs {
  font-family: "Fira Mono", monospace;

  &-comment {
    color: #e2e2e2;
  }

  &-punctuation,
  &-tag {
    color: rgba(145, 145, 145, 0.667);
  }

  &-attribute,
  &-doctag,
  &-keyword,
  &-meta &-keyword,
  &-name,
  &-selector-tag {
    color: #00e01e;
    font-weight: bold;
  }

  &-tag &-attr,
  &-tag &-name {
    color: #00e01e;
    font-weight: bold;
  }

  &-deletion,
  &-number,
  &-quote,
  &-selector-class,
  &-selector-id,
  &-string,
  &-template-tag,
  &-type {
    color: #cc773b;
  }

  &-section,
  &-title {
    color: tomato;
  }

  &-link,
  &-operator,
  &-regexp,
  &-selector-attr,
  &-selector-pseudo,
  &-symbol,
  &-template-variable,
  &-variable {
    color: whitesmoke;
  }

  &-literal {
    color: #78a960;
  }

  &-addition,
  &-built_in,
  &-bullet,
  &-code {
    color: #60be01;
    font-weight: bold;
  }

  &-meta {
    color: #2facf5;
  }

  &-meta &-string {
    color: #359cca;
  }

  &-emphasis {
    font-style: italic;
  }
}