@use "/src/Common/main" as *;

:root {
  --site-width: clamp(280px, 90%, 1420px);
}

.main-content {
  display: flex;
  justify-content: center;

  &-container {
    width: 100%;
    min-height: 100vh;
    background: $bg-grey160;
    overflow: hidden;
  }
}

.file-content {
  padding: 2em;
  overflow: hidden;
}