@use "/src/Common/main" as *;

.main-footer {
  background-color: $shared-grey170;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.12);

  .footer-container {
    width: clamp(280px, 85%, 1200px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    font-family: "Outfit", sans-serif;
    padding: 1em 0;

    @media screen and (max-width: 768px) {
      width: 95%;
    }
  }

  p {
    display: inline-flex;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 100;
    & span {
      font-weight: 600;
    }
  }

  .sunproj-logo {
    gap: 0.5em;

    & img {
      border-radius: 50%;
    }
  }

  a {
    text-decoration: none;
  }

  .projAbout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .buildinfo {
      padding-block: 10px;
      font-family: 'Fira Mono', monospace;
      font-size: 7pt;
    }

    .buildinfo span {
      display: inline;
      color: orange;
    }
  }
}