/* COLORS */

/* Background colors */
$shared-grey170: #2b2b2b;

$bg-grey160: #121212;
$bg-main: #121212;
$bg-content: #30455e;

$code-bg: #181818;

/* Foreground colors */
$text-400: #FFFFFF;
$text-selected: #FFFFFF;
