@forward './Theme/Default/theme';
@use './Theme/Default/theme' as *;

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;

  &-track {
    background: $bg-main;
  }

  &-thumb {
    background: $bg-content;
    border-radius: 1em;
  }
}

::selection {
  background: #ffffff;
  color: #000000 !important;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: $shared-grey170;
  background-image: url("/graphy-dark.png");
  background-repeat: repeat;
}

#root {
  box-sizing: border-box;
  font-size: clamp(12px, 3vw, 16px);
  color: $text-400;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  background-color: transparent;
  width: 100%;
}

h1 {
  letter-spacing: 2px;
  font-weight: 900;
}

a {
  color: inherit;
  transition: color 0.15s ease-in-out;
  text-decoration: underline dotted;

  &:hover {
    text-decoration: underline;
    color: $text-selected;
  }
}