@forward './Theme/Default/theme';
@use './Theme/Default/theme' as *;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;

  &-track {
    background: $bg-main;
    border-radius: 0;
  }

  &-thumb {
    background: #ffffff;
    border-radius: 0;
  }
}

::selection {
  background: #ffffff;
  color: #000000 !important;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: $bg-main;
  background-image: 
    linear-gradient(45deg, rgba(255, 255, 255, 0.03) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.03) 75%),
    linear-gradient(45deg, rgba(255, 255, 255, 0.03) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.03) 75%);
  background-position: 0 0, 2px 2px;
  background-size: 4px 4px;
}

#root {
  box-sizing: border-box;
  font-size: clamp(12px, 3vw, 16px);
  color: $text-400;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  background-color: transparent;
  width: 100%;
}

h1 {
  letter-spacing: 2px;
  font-weight: 900;
}

a {
  color: inherit;
  transition: color 0.15s ease-in-out;
  text-decoration: underline dotted;

  &:hover {
    text-decoration: underline;
    color: $text-selected;
  }
}